.select-content {
    border: solid #6d6d6d 1px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    height: 48px;
    font-family: arial;
    background: url("select1_bg.jpg") repeat-x;
}

.select-options {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 0;
    width: 479px;
    margin-top: -1px;
    border: solid #6d6d6d 1px;
    border-top: none;
}

.select-options > li {
    padding: 11px 0;
    list-style: none;
    float: left;
    overflow: auto;
    cursor: pointer;
    font-size: 14px;
    border: solid #e2e2e2 1px;
    border-bottom: none;
    font-family: arial;
    line-height: 14px;
    width: 159px;
    text-align: center;
    background-color: #f9f9f9;
}

.select-options > li.left {
    border-left: none;
    border-right: none;
}

.select-options > li.right {
    border-right: none;
    border-left: none;
}

.select-options > li:hover {
    background-color: #84c7f2;
    color: #fff;
}

.select-options > li.selected {
    background-color: #e6eaeb;
    color: #000;
}

.selected-options {
    width: 414px;
    height: 38px;
    overflow: hidden;
    margin: 5px;
    float: left;
}

.selected-options > li, .placeholder {
    list-style: none;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 14px;
    padding: 12px 5px;
}

.placeholder.hide {
    display: none;
}

.switch {
    width: 54px;
    height: 48px;
    border-left: 1px solid #6d6d6d;
    float: left;
    cursor: pointer;
}

.switch div {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #767676;
    border-bottom: none;
    margin: 19px 18px;
}

.switch.open div {
    border-bottom: 10px solid #767676;
    border-top: none;
}