.select-content {
    border: solid #6d6d6d 1px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    height: 48px;
    font-family: arial;
    overflow: hidden;
}

.select-options {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 0;
    width: 478px;
    margin-top: -1px;
    border: solid #6d6d6d 1px;
    border-top: none;
    background-color: #fff;
}

.select-options-padding {
    padding: 8px;
    width: 462px;
}

.select-options-padding > span {
    padding: 6px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-family: arial;
    line-height: 14px;
}

.select-options-padding > span.select-option {
    color: #24a4ef;
}

.selected-options {
    width: 968px;
    height: 38px;
    display: block;
    /*overflow: hidden;*/
    margin: 5px;
    float: left;
    vertical-align: top;
}

.selected-options > li {
    list-style: none;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 24px;
    border: solid #bcdbef 1px;
    margin: 6px 2px;
    background-color: #cfecfa;
    padding: 0 2px;
}

.selected-options > li.search-input-wrap {
    margin: 0;
    height: 38px;
    border: none;
    padding: 0;
    background-color: #fff;
}

.selected-options > li > p {
    display: inline-block;
    line-height: 24px;
    color: #53a4d3;
    float: left;
}

.selected-options > li > p.select-cancel {
    font-size: 12px;
    color: #53a4d3;
    cursor: default;
}

.search-input {
    width: 468px;
    height: 38px;
    display: block;
    padding: 0px 4px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 38px;
}