.select-content {
    border: solid #000 1px;
    border-radius: 4px 4px 2px 2px;
    outline: none;
    padding: 4px;
    background-color: #fff;
    position: relative;
    z-index: 2;
    min-height: 30px;
}

.select-options {
    background-color: #fff;
    border-top: none;
    overflow-y: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    margin-top: -1px;
    border-bottom: solid #aaa 1px;
    border-radius: 0 0 4px 4px;
}

.select-options > li {
    padding: 6px;
    list-style: none;
    display: block;
    overflow: auto;
    cursor: pointer;
    font-size: 14px;
    border-left: solid #aaa 1px;
    border-right: solid #aaa 1px;
    border-top: none;
    font-family: arial;
}

.selected-options > li > p {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    float: left;
}

.select-options > li:hover {
    background-color: #5897fb;
    color: #fff;
}

.select-options > li.selected {
    background-color: #ddd;
    color: #000;
    cursor: auto;
}

.selected-options {
    display: inline-block;
}

.selected-options > li {
    list-style: none;
    display: inline-block;
    float: left;
    overflow: auto;
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 14px;
    font-family: arial;
}

.selected-options > li.search-input-wrap {
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 22px;
    padding: 0;
    font-family: arial;
    overflow: hidden;
}

.search-input {
    font-size: 14px;
    font-family: arial;
    outline: none;
    border: none;
    padding: 5px 0;
}

.select-cancel {
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
}

.select-placeholder {
    position: absolute;
    z-index: 3;
    border: solid #000 1px;
    top: 0px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px 4px 2px 2px;
    padding: 4px 0px 4px 8px;
    background-color: #fff;
    color: #aaa;
    font-family: arial;
}

.select-placeholder.hide {
    display: none;
}